version: '3.8'

services:
  wordpress:
    image: wordpress:latest
    container_name: inner-flow-wordpress
    ports:
      - "8080:80"
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: inner_flow
      WORDPRESS_DEBUG: 1
    volumes:
      - wordpress_data:/var/www/html
      - ./wp-content/themes/inner-flow:/var/www/html/wp-content/themes/inner-flow
      - ./wp-content/plugins/inner-flow-events:/var/www/html/wp-content/plugins/inner-flow-events
    depends_on:
      - db
    restart: always

  db:
    image: mysql:8.0
    container_name: inner-flow-mysql
    environment:
      MYSQL_DATABASE: inner_flow
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
      MYSQL_ROOT_PASSWORD: rootpassword
    volumes:
      - db_data:/var/lib/mysql
    restart: always

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: inner-flow-phpmyadmin
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: rootpassword
    depends_on:
      - db
    restart: always

volumes:
  db_data:
  wordpress_data:
